
      <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h2>Welcome to our website!</h2><br>
     <%= image_tag 'pancake.jpg', :class=> "img-rounded pull-right welcome-img" %>
     <p></p>
     <hr></hr>
     <p><a href="#" class="btn btn-warning btn-large">Learn more &raquo;</a></p>
  </div>
